.issue-slider-control {
  margin-top: -1.65rem;
}

.slider {
  background-color: $secondary-dark-grey;
}

.slider-fill {
  background-color: $primary-purple;
}

.slider-handle {
  background-color: $tint-dark-purple;
}
