.info-list-table {
  font-size: 0.6875rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;

  td:last-child {
    font-weight: normal;
    text-align: right;
  }
}

.stacked-table {
  @include table;
  @include table-stack;
}
